@use './parts/header';
@use './parts/gallery';
@use './parts/main';
@use './components/photo';
@use './components/textfield';
@use './components/goUp';
@use './components/showMore';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
